
body{
    background-color: rgb(111, 109, 109);
    input{
        margin-left: 250px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        width: 60%;
    }
}